{% extends "bootstrap_layout.html" %}
{% set active_page = "about.html" %}

{% block content %}

    <h2>About</h2>

    <p>This model uses Keras and Tensorflow end-to-end open source
    machine learning libraries to implement a deep neural network for
    1,013 class multi-classification analysis. The model is trained on
    a dataset of 1,013,000 posts from real users. The posts are pre-processed
    before entering the network architecture and result in accuracy of approximately
    70% on a validation set of 303,900 posts. This web application was made possible 
    using Flask microframework.</p>

{% endblock %}