{% extends "bootstrap_layout.html" %}
{% set active_page = "base.html" %}

{% block content %}

    <form action="{{ url_for('predict_sub') }}" method="post">
        <legend>Text:</legend>
            <textarea name="text" style="width:500px" required></textarea>
        <br>
        <legend>Number 1-20:</legend>
            <input name="num" type="number" pattern="[1-20]" required>
            <br>
            <br>
            <input type="submit">
    </form>
    <div class="result">
        <br>
        <br>
        <h3>Predicted Subreddits:</h3>

            {% for pred in prediction_text %}
            <span class="stack"><li>{{ pred }}</li></span>
            {% endfor %}
    </div>
{% endblock %}