[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
sklearn = "*"
gunicorn = "*"
pandas = "*"
jupyter = "*"
flask-cors = "*"
tensorflow = "*"

[requires]
python_version = "3.8"
